<div>
  <h2 class="center">Companies</h2> 
  <div class="center"> 
    <input (keyup)="onKey($event)" title="Search"> <button type="button" (click)="onClickMe()">Search</button>  
  </div>
  <table class="table">
    <thead>
        <tr>
          <th>Name</th>
          <th>Segment</th>
        </tr>
    </thead>
    <tbody>
      <!-- User ngFor to interate through data[] in the company.component.ts -->
      <tr *ngFor="let company of data">
        <td>{{ company.name }}</td>
        <td>{{ company.segment }}</td>
      </tr>
    </tbody>
  </table>
</div>
Search Results: Name: {{singleData.name}}, Segment: {{singleData.segment}}